html, body, #map {
    height: 100%;
    margin: 0;
}

input {
    width: 85%;
}

.searcher {
    left: 10%;
    top: 2%;
    display: inline-block;
    position: fixed;
    text-align: center;
}

.search_btn {
    cursor: pointer;
}
